<%- contentFor('body') %>
<h1>Edit Customer</h1>
<form method="POST">
  <%- include('form', { customer: customer, companies: companies, employees: employees }) %>
  <button type="submit" class="btn btn-primary">Update Customer</button>
</form>